html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  height: 100%;
  display: 100%;
  
}

body {
    margin-bottom: 60px;
}

.pbs-box {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px;
}
.info-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.info-box-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid yellow;
    text-shadow: 1px 1px 1px yellow;
}

.info-box-line {
    margin-bottom: 8px;
    text-shadow: 0px 1px yellow;
}

.form-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.form-box-title {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
    border-bottom: 1px solid #87CEFA;
    text-shadow: 1px 1px 1px blue;
}

.form-box-line {
    margin-bottom: 8px;
    text-shadow: 0px 1px blue;
}

.green-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.green-box-title {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
    border-bottom: 2px solid #66FF99;
    text-shadow: 1px 1px 1px #66FF99;
}

.green-box-line {
    margin-bottom: 8px;
    text-shadow: 0px 1px #66FF99;
}