@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using static PaymentsBudgetSystem.Common.RoleNames;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Система за Бюджет и Разплащания</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="pbs-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Система за Бюджет и Разплащания</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="font-weight-bold h4">
                            @User.FindFirstValue(ClaimTypes.Email)
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <style>
        .pbs-bg {
            background-color: #F6F6F8
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 85vh;
        }

    </style>

    <div class="row" id="frame">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <nav class="col-12 col-md-4 col-lg-2 d-md-block btn-group-vertical sidebar">
                <hr />
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2 ">
                    <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Gateway" asp-action="ChoosePayment">Банков превод</a>
                </button>
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2 ">
                    <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="CashPayment" asp-action="Payment">Каса</a>
                </button>
                <hr />
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2">
                    <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Beneficiaries" asp-action="Info">Контрагенти</a>
                </button>
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2 ">
                    <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Employees" asp-action="Info">Персонал</a>
                </button>
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2 ">
                    <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Assets" asp-action="Info">Активи</a>
                </button>
                <hr />
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2 ">
                    <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Information" asp-action="Info">Справка</a>
                </button>
                <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2 ">
                    <a class="nav-link text-primary font-weight-bold" asp-area="Reports" asp-controller="Report" asp-action="ReportInquiry">Отчет</a>
                </button>
                @if (User.IsInRole(PrimaryRoleName))
                {
                    <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2">
                        <a class="nav-link text-primary font-weight-bold" asp-area="Budget" asp-controller="Primary" asp-action="Info">Бюджет</a>
                    </button>
                }
                else if (User.IsInRole(SecondaryRoleName))
                {
                    <button class="btn btn-lg bg-gradient-light btn-outline-info m-md-2">
                        <a class="nav-link text-primary font-weight-bold" asp-area="Budget" asp-controller="Secondary" asp-action="Info">Бюджет</a>
                    </button>
                }
                <hr />
            </nav>
        }
        <div class="wrapper container-fluid col-12 col-md-8 col-lg-10">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer bg-light text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Система за Бюджет и Разплащания
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
