@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка!";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            margin-top: 50px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 40px;
            background-color: #fff;
        }

        .error-heading {
            color: red;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .error-message {
            color: #dc3545;
            font-size: 32px;
            margin-bottom: 40px;
        }

        .buttonBack {
            border-color: darkred;
            border-width: 15px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 error-container">
                <h6 class="error-heading">Грешка!</h6>
                <h6 class="error-heading">Възникна проблем при обработката на Вашата заявка</h6>
                <h4 class="error-message">@Model.ErrorMessage</h4>
                <div class="buttonBack">
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
