@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка!";
}

@*<h1 class="text-danger">Грешка</h1>
<h2 class="text-danger">Възникна проблем при обработката на Вашата заявка</h2>

<br />
<h3 class="text-danger">
    @Model.ErrorMessage
</h3>*@

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            margin-top: 50px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 40px;
            background-color: #fff;
        }

        .error-heading {
            color: red;
            font-size: 36px;
            margin-bottom: 20px;
        }

        .error-message {
            color: #dc3545;
            font-size: 24px;
            margin-bottom: 40px;
        }

        .buttonBack {
            border-color: darkred;
            border-width: 15px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 error-container">
                <h3 class="error-heading">Грешка!</h3>
                <h4 class="error-heading">Възникна проблем при обработката на Вашата заявка</h4>
                <p class="error-message">@Model.ErrorMessage</p>
                <div class="buttonBack">
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
