@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using static PaymentsBudgetSystem.Common.RoleNames;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Система за Бюджет и Разплащания</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="pbs-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="font-weight-bold h4 text-light">
                            @User.FindFirstValue(ClaimTypes.Email)
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <style>
        .pbs-bg {
            background-color: beige;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 95vh;
        }

    </style>
          
        <div class="wrapper container-fluid col-12 col-md-8 col-lg-10">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


    <footer class="border-top footer bg-dark text-muted" style="position: sticky; bottom: 0;">
        <div class="container text-light">
            &copy; @DateTime.UtcNow.Year - Система за Бюджет и Разплащания
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
